:root {
    --backgroundColour: #adadad;
    --barColour: #ede3e4;
    --containerBgColour: #555555;
    --textColour: #222222;
    --gridItemBgColour: white;
    --fontFamily: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    /* color-scheme: light dark; */
}

body {
    background-color: var(--backgroundColour);
    font-family: var(--fontFamily);
    color: var(--textColour);
    background-repeat: no-repeat;
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--textColour);
}

.topBar {
    background-color: var(--barColour);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    margin: 0px 10px 10px;
    height: 80px;
    vertical-align: bottom;
    display: flex;
}

.topBar .spacer {
    flex:1;
}

.topBar img {
    height: 80px;
    border: black solid 1px;
    border-radius: 40px;
}

.filtersBar {
    background-color: var(--barColour);
    border-radius: 20px;
    padding: 20px 10px 10px;
    margin: 10px;
}

.footer {
    background-color: var(--barColour);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0px 10px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.footer h3 {
    margin-bottom: 0;
}

.loginForm {
    background-color: var(--barColour);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-self: center;
    margin-top: 100px;
    width: 400px;
}

.loginForm button {
    color: var(--textColour);
    font-family: var(--fontFamily);
    font-size: 25px;
    margin-top: 10px;
    align-self: center;
    border-radius: 5px;
}

.loginForm input {
    color: var(--textColour);
    font-family: var(--fontFamily);
    font-size: 25px;
    border-radius: 5px;
}

.incorrectLogin {
    color: red;
    text-align: center;
}

.questionHeader {
    background-color: var(--barColour);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.answer {
    height: max-content;
    content-visibility: auto;
    font-size: 25px;
}

.container {
    padding: 10px;
    min-height: 80vh;
    margin: 10px;
}

.footer a {
    display: list-item;
}

.insideLinks {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.outsideLinks {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gridContainer {
    background-color: var(--containerBgColour);
    border-radius: 20px;
    margin: 10px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    max-width: 380px;
    justify-self: center;
    padding: 5px 5px;
}

.productPrice {
    font-weight: bold;
    font-size: 20px;
}

.productName {
    font-size: 25px;
}

.gridItem {
    background-color: var(--gridItemBgColour);
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    height: 450px;
    margin: 5px;
}

.gridItem img {
    border-radius: 10px;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
}

.gridItem p {
    margin: 16px 10px;
}

.gridItem button {
    font-family: var(--fontFamily);
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--textColour);
    background-color: var(--gridItemBgColour);
    border: lightgray dashed 1px;
    border-radius: 5px;
}

.filtersItem {
    border: darkgray dashed 1px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 25px;
}

.filtersBar button {
    color: var(--textColour);
    font-size: 20px;
    font-family: var(--fontFamily);
    font-size: 25px;
}

.filtersItem input {
    font-family: var(--fontFamily);
}

.filtersItem p {
    margin: 5px 0px;
    font-weight: bold;
}

.filtersItem input:nth-child(1) {
    width: 98%;
    font-size: 25px;
    color: var(--textColour);
}

.filtersItem input {
    height: 30px;
    width: 30px;
}

.returnToTop {
    background-color: var(--barColour);
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 50px;
    border-radius: 20px;
    border: var(--textColour) solid 2px;
    padding: 5px;
}

.logout {
    font-size: 32px;
}

.sizeRow {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
}

.sizeCol {
    width: 50%;
}

.listProducts {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--containerBgColour);
    font-size: 24px;
}

.listCol {
    width: 25%;
    border-left: 2px solid var(--textColour);
    padding-left: 5px;
}

.listHeader {
    font-weight: bold;
    font-size: 120%;
}

.listItem {
    display: flex;
    gap: 10px;
    width: auto;
    background-color: var(--barColour);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.listItem button {
    font-size: 24px;
}

.listItem button:hover {
    cursor: pointer;
}

.productForm {
    display: flex;
    flex-direction: column;
    background-color: var(--containerBgColour);
    border-radius: 5px;
    padding: 5px;
    font-size: 24px;
}

.productForm button input { 
    font-size: 24px;
}

.section {
    background-color: var(--barColour);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.sectionHeader {
    background-color: var(--containerBgColour);
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.basketItem {
    padding: 10px;
    border-top: 2px dashed var(--textColour);
    display: flex;
    flex-direction: column;
}

.basketItemName {

}

.basketItemPricing {
    align-items: end;
}

.basketItems {
    background-color: var(--barColour);
    border-radius: 20px;
}

.basketItems :first-child {
    border-top: none;
}

@media screen and (min-width: 660px) {
    .topBar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer {
        margin: 0px;
        margin-top: 20px;
        padding: 20px 150px;
        flex-direction: row;
        font-size: 20px;
    }

    .loginForm {
        margin-top: 150px;
    }

    .container {
        padding-top: 100px;
    }

    .filtersBar {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        position: fixed;
        left: 0;
        top: 110px;
        padding: 20px;
        padding-bottom: 10px;
        margin: 0px;
        width: 230px;
    }

    .filtersBar button {
        font-size: 16px;
    }

    .gridContainer {
        margin: 110px 10px 10px 280px;
        padding: 10px;
        grid-template-columns: auto;
        max-width: 335px;
    }

    .filtersItem {
        font-size: 16px;
    }

    .filtersItem input:nth-child(1) {
        width: 210px;
        font-size: 16px;
    }

    .filtersItem input {
        height: 15px;
        width: 15px;
    }

    .answer {
        height: 0px;
        font-size: 16px;
        content-visibility: auto;
        transition: height linear 0.5s;
    }

    .questionHeader:hover .answer{
        height: 70px;
}

    .returnToTop {
        left: 5px;
        right: auto;
    }

    .listProducts {
        font-size: 18px;
    }

    .listItem button {
        font-size: 16px;
    }

    .logout {
        font-size: 16px;
    }

    .productForm {
        font-size: 16px;
    }

    .productForm button input { 
        font-size: 16px;
    }
}

@media screen and (min-width: 970px) {
    .gridContainer {
        grid-template-columns: auto auto;
        max-width: 675px;
    }
}

@media screen and (min-width: 1300px) {
    .gridContainer {
        grid-template-columns: auto auto auto;
        max-width: 980px;
    }
}

/* @media (prefers-color-scheme: light) {
    :root {
        --backgroundColour: #748386;
        --barColour: #ede3e4;
        --containerBgColour: #555555;
        --textColour: #222222;
    }
}
    
@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColour: #748386;
        --barColour: #ede3e4;
        --containerBgColour: #555555;
        --textColour: #222222;
    }
} */